@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&display=swap);
@font-face{font-family:'CookieRun-Regular';src:url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff) format("woff");font-weight:400;font-style:normal}

// reset.css
* { margin: 0; padding: 0; }
ol, ul, li { list-style: none; }
h1,h2,h3,h4,h5,h6 { font-weight: 400; font-size: 20px; }
a { text-decoration: none; color: inherit; }
button { font-family: inherit; color: inherit; cursor: pointer; background-color: inherit; border: none; }
form { width: 100%; height: 100% }
fieldset { border: none;}
body, select {
    font-family: 'CookieRun-Regular', sans-serif;
}
select {
    outline: none;
}
.wrap {
    max-width: 1200px;
    height: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 0px 10px;
}
.hidden {
    display: block;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: -9999;
}

i{
    pointer-events: none;
}

input[type="range"] { 
    appearance:none;
    width: 50%;
    height: 4px;
    outline: none;
    border-radius: 4px;
    background-color: #666;
    
    &::-webkit-slider-thumb {
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: #222;
        border-radius: 50%;
        cursor: pointer;
    }
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  select {
      background-color: transparent;
  }