<header id="headBox">
    <div class="wrap">
        <a href="javascript:window.history.back()">
            <i class="fas fa-chevron-left">
                <span class="hidden">뒤로가기</span>
            </i> 
        </a>
        <h1>
            인세인 /
            <select name="" id="selectImageType">
                <option value="sessionCard">세션카드</option>
                <option value="handout">핸드아웃</option>
                <option value="mapSheet">테이블 맵</option>
            </select>
        </h1>
        <div class="btn-box">
            <button class="btn-fullscreen-request on">
                <span class="hidden">
                    확장하기
                </span>
                <i class="fas fa-expand"></i>
            </button>
            <button class="btn-fullscreen-exit">
                <span class="hidden">
                    축소하기
                </span>
                <i class="fas fa-compress"></i>
            </button>
        </div>
    </div>
</header>